.pag {
  position: absolute;
  width: 100%;
  
  background-color: rgb(186, 183, 183);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardLeft{
  float: left;
  background-color: rgba(32, 26, 26, 0.747);
  width: 45%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 40px;
  color: #fff;
}

.buttonDelete{
  float: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cardRight{
  float: right;
  background-color: rgba(32, 26, 26, 0.747);
  width: 45%;
  margin-top: 50px;
  margin-right: 2rem;
  padding: 40px;
  color: #fff;
}

.title{
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {

  .cardLeft{
    float: none;
    background-color: rgba(32, 26, 26, 0.747);
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    color: #fff;
  }

  .cardRight{
    float: none;
    background-color: rgba(32, 26, 26, 0.747);
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    color: #fff;
  }
}